---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Menu from '@components/Menu.astro'
import { SITE_NAME } from '@constants';
import '@fontsource/ibm-plex-sans-jp/400.css';
import '@fontsource/ibm-plex-sans-jp/500.css';
import '@fontsource/ibm-plex-sans-jp/700.css';
import '@fontsource/noto-emoji/700.css';

type Props = {
  title?: string;
};
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title ? `${title} | ${SITE_NAME}` : `${SITE_NAME} - しもちぃの個人ブログ`}
    </title>
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/png" href="/favicon.png">
    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-K8S4SGNN6L"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-K8S4SGNN6L');
    </script>
  </head>
  <body class="font-sans bg-primary text-md text-body h-full">
    <div class="h-full flex flex-col gap-6">
      <Header />
      <div class="px-4">
        <div class="max-w-5xl mx-auto">
          <div class="flex gap-8 flex-col-reverse md:flex-row">
            <div class="flex-shrink-0 md:w-64">
              <Menu />
            </div>
            <main id="main" class="w-full">
              <slot />
            </main>
          </div>
        </div>
      </div>
      <div class="mt-auto pt-24">
        <Footer />
      </div>
    </div>
  </body>
</html>
