---
import Header from '@components/Header.astro';
import '@fontsource/ibm-plex-sans-jp/400.css';
import '@fontsource/ibm-plex-sans-jp/500.css';
import '@fontsource/ibm-plex-sans-jp/700.css';

type Props = {
  title?: string;
};
const { title } = Astro.props;

const SITE_NAME = 'よなよなこーど';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title ? `${title} | ${SITE_NAME}` : `${SITE_NAME} - しもちぃの個人ブログ`}
    </title>
    <link rel="icon" href="/favicon.ico">
    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-K8S4SGNN6L"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-K8S4SGNN6L');
    </script>
  </head>
  <body class="font-sans text-sumi-900 dark:text-white bg-white dark:bg-sumi-900">
    <Header />
      <div class="prose dark:prose-invert">
        <h1>hello</h1>
        <p>w<b>ooo</b>orld</p>
        <p>
          <a href="/">hello world</a>
          <a href="/foo/bar">hello world</a>
        </p>
    </div>
    <button onclick="toggleTheme()">toggle theme</button>
    <slot />
    <script>
      import { applyTheme, toggleTheme } from '@utils/darkMode';

      window.toggleTheme = toggleTheme;
      applyTheme();
    </script>
  </body>
</html>
