# build# build output
dist/

# generated types
.astro/

# turbo dev cache
.turbo/

# wrangler dev cache
.wrangler/

# dependencies
node_modules/

# logs
pnpm-debug.log*

# environment variables
.env
.env.production
.dev.vars

# macOS-specific files
.DS_Store
