---
import { getEntry } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import * as profile from '@content/profile.md';
import Markdown from '@components/Markdown.astro';

const { data, body } = await getEntry('profile', 'me');
---

<Layout>
  <div class="prose">
    <h1>プロフィール</h1>
  </div>
  <div
    class="flex flex-col items-center gap-x-6 gap-y-3 mb-8 md:flex-row"
  >
    <img
      class="w-32 aspect-square rounded"
      src={data.avatarUrl}
      alt="しもちぃのアバター画像"
    />
    <div class="grid gap-y-1 md:text-left text-center">
      <p class="text-xl font-medium">{data.name}</p>
      <p class="text-description text-sm">{data.role}</p>
    </div>
  </div>
  <div class="prose">
    <Markdown content={body} />
  </div>
</Layout>
