---
import marked from 'marked';
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getBlogEntities } from 'microcms-client';

export const getStaticPaths = (async () => {
  const { contents } = await getBlogEntities();
  
  return contents.map((content) => ({
    params: {
      contentId: content.id
    },
    props: {
      content,
    }
  }))
}) satisfies GetStaticPaths;

type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]['props'];
const { content } = Astro.props;

const html = marked.parse(content.body ?? '');
---

<Layout>
  <div class="rounded-lg bg-sumi-50 overflow-hidden">
    <div class="bg-sea-800 text-white px-5 pt-8 pb-8">
      <h1 class="text-2xl font-medium md:font-regular md:text-3xl leading-sm">{content.title}</h1>
      <p class="text-sumi-900 text-opacity-50 text-sm">{content.lead}</p>
    </div>
    <div class="prose" set:html={html} />
  </div>
</Layout>
