---
import type { GetStaticPaths } from "astro";
import { getBlogEntities } from 'microcms-client';
import Layout from "@layouts/Layout.astro";
import Article from '@components/Article.astro';
import DisqusThread from "@components/DisqusThread.astro";

export const getStaticPaths = (async () => {
  const { contents } = await getBlogEntities();
  
  return contents.map((content) => ({
    params: {
      contentId: content.id
    },
    props: {
      content,
    }
  }))
}) satisfies GetStaticPaths;

type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]['props'];
const { content } = Astro.props;
---

<Layout
  title={content.title}
  openGraph={{ type: 'article' }}
>
  <Article content={content} />
  <div class="mt-20">
    <DisqusThread />
  </div>
</Layout>
