---
import { getBlogEntities } from 'microcms-client';
import ArticleCard from '@components/ArticleCard.astro';
import Layout from '@layouts/Layout.astro';
import Breadcrumbs from '@components/Breadcrumbs.astro';

const { contents, totalCount } = await getBlogEntities();
---

<Layout>
  <Breadcrumbs items={[{ title: 'ブログ'}]} />
  <ul class="grid gap-8 mt-8">
    {contents.map(({ id, category, title, updatedAt }) => (
      <li>
        <ArticleCard 
          href={`/blog/${id}/`}
          title={title}
          category={category?.name || '未分類'}
          datetime={updatedAt}
        />
      </li>
    ))}
  </ul>
</Layout>