<footer class="bg-tertiary py-12 px-4">
  <div class="max-w-5xl mx-auto">
    <div class="flex items-center justify-between">
      <div class="grid place-items-center gap-2 grid-flow-col font-medium">
        <span class="w-6 h-6 icon-[carbon--parameter]" />
        よなよなこーど
      </div>
      <p class="text-description text-sm">このサイトでは Google Analytics による計測を行っています</p>
    </div>
  </div>
</footer>