<header class="px-4">
  <div class="mx-auto max-w-6xl py-4">
    <div class="flex items-center justify-between">
      <a href="/" class="text-lg font-medium grid place-items-center grid-flow-col gap-2">
        <span class="w-8 h-8 icon-[carbon--parameter]" />
        よなよなコード
      </a>
      <nav class="grid place-items-center grid-flow-col gap-2">
        <a class="grid gap-2 place-items-center grid-flow-col font-medium hover:underline px-2" href="https://github.com/lollipop-onl/simochee.net">
          <span class="w-6 h-6 icon-[carbon--logo-github]" />
          GitHub
        </a>
      </nav>
    </div>
  </div>
</header>
