<div class="flex flex-col gap-x-6 gap-y-3 md:flex-row py-5">
  <img class="w-32 h-32 rounded" src="https://www.gravatar.com/avatar/4f67370c6d70451972d3e07398e675f4?s=256" alt="しもちぃのアバター画像" />
  <div class="prose">
    <p>
      はじめまして！ simochee （読み：しもちぃ）と申します。
    </p>
    <p>
      高専時代から主にフロントエンドの技術に触れて、2018年からは会社に属し受託開発案件のテックリードを複数務めています。
    </p>
    <p>
      ユーザーが触れる領域を起点にしてさまざまな技術に興味があり、日々のインプット・アウトプットを続けています。
    </p>
  </div>
</div>